*{
  background-color: white;
  font-size: 18px;
  font-family: "Open Sans","Helvetica Neue" sans-serif;
  text-align: center;
}

img {
  height: auto;
  width: 500px;

}
p{
  color: orange;
}

h2{
  color: red;
  font-size: 25px;
}

ul{
  color: orange;
}

ol{
  color: orange;
}

div{
  background: blue;
}